<%= form_with model: user do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(user.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
  
  <%= f.label(:username) %>
  <%= f.text_field(:username, placeholder: 'rocketracoon42') %><br>
  <%= f.label(:email) %>
  <%= f.text_field(:email, placeholder: 'racoon42@email.com') %><br>
  <%= f.label(:password) %>
  <%= f.password_field(:password, placeholder: 'password42') %><br>
  <%= f.submit('Submit') %>
<% end %>
  